/* **********
 * Home page
 ************/
body {
    box-sizing: border-box;
    display: block;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    min-height: 100%;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* mainDiv */
#mainDiv {
    display: block;
    padding: 4%;
    border: solid;
    margin: 4%;
    text-align: center!important;
}
/* Inside main div
    form */
form{
    padding: 1%;
}

/* Inside main div
   header */
h1 {
    color: #555555;
    padding: 2%;
    border: double;
    margin: 2%;
    font-size: 42px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: bold;
    display: block;
}

/* Inside main div
   Paragraph
  */
#unitTypeParagraph {
    font-size: 20px!important;
    padding: 2%;
    margin: 2%;
    display: block;
}
/* *****************
 * Temperature page
 *******************/
body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    /*line-height: 1.5;*/
    /*min-height: 100%;*/
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*
  Main div
 */
#mainDiv {
    padding: 4%;
    border: solid;
    margin: 4%;
    text-align: center!important;
    background-color: #000000;
}

/* Inside main div
   Page header (h1)
 */
h1 {
    color: #555555;
    padding: 2%;
    border: double;
    margin: 2%;
    font-size: 42px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: bold;
    display: block;

}

/* Inside form
   Paragraph
  */
#convertFromInput, #studentResponseInput{
    width: 40px;
}
#toParagraph, #emptyParagraph {
    font-size: 20px!important;
    box-sizing: border-box;
    flex-basis: auto;
    display: block;
}
#rowTwo_colThreeDiv{
    display: block;
}

/* ************
 * Volume page
 **************/