<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:href = "@{/css/bootstrap-utilities.css}" rel="stylesheet">
    <link th:href = "@{/css/bootstrap-grid.css}" rel="stylesheet">
    <link th:href = "@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href = "@{/css/main.css}" rel="stylesheet">

    <title>Temperature</title>
</head>
<body>
<div id="mainDiv" class="container-md">
    <h1>Temperature Conversion</h1>
    <hr />
    <form method="POST" th:action="@{/temperatureConversion}" th:object="${TemperatureRequestModel}" onsubmit="return validateForm()" enctype="multipart/form-data" name="temp_conversion_form" class="w-100 p-3">
        <!--Row One-->
        <div id="rowOneDiv" class="row row-cols-sm-3">
            <div id="rowOne_colOneDiv" class="col-5">
                <div class="input-group">
                    <select id="convertFrom" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" th:field="*{tempFrom}" required>
                        <option class="dropdown-item" value="none" hidden selected>Select an Option</option>
                        <option class="dropdown-item" value="Celsius">Celsius</option>
                        <option class="dropdown-item" value="Fahrenheit">Fahrenheit</option>
                        <option class="dropdown-item" value="Kelvin">Kelvin</option>
                        <option class="dropdown-item" value="Rankine">Rankine</option>
                    </select>
                    <input type="number" id="convertFromInput" class="form-control" th:field="*{tempValue}" step="0.0001" aria-label="Text input with dropdown button" required>
                </div>
            </div>

            <div id="rowOne_colTwoDiv">
                <p id="toParagraph" class="fs-5">to </p>
            </div>

            <div id="rowOne_colThreeDiv" class="col-5">
                <div class="input-group">
                    <select id="convertTo"  class="btn btn-primary dropdown-toggle" data-toggle="dropdown" th:field="*{tempTo}" required>
                        <option class="dropdown-item" value="none" hidden selected>Select an Option</option>
                        <option class="dropdown-item" value="Celsius">Celsius</option>
                        <option class="dropdown-item" value="Fahrenheit">Fahrenheit</option>
                        <option class="dropdown-item" value="Kelvin">Kelvin</option>
                        <option class="dropdown-item" value="Rankine">Rankine</option>
                    </select>
                </div>
            </div>
        </div>

        <!--Row Two-->
        <div id="rowTwoDiv" class="row row-cols-sm-3 mt-4">
            <div id="rowTwo_colOneDiv" class="col-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Student Response</span>
                    </div>
                    <input type="number" id="studentResponseInput" class="form-control" th:field="*{studentResponse}" step="0.0001" aria-label="student response" required>
                </div>
            </div>

            <div id="rowTwo_colTwoDiv">
                <p id="emptyParagraph" class="fs-5"></p>
            </div>

            <div id="rowTwo_colThreeDiv" class="submitButtonDiv row">
                    <button id="submitButton" class="btn btn-primary" type="submit" aria-expanded="submit button">Check Answer</button>
            </div>
        </div>

        <!--Row Three-->
        <div id="rowFourDiv" class=" row-cols-1 mt-4">
            <div id="rowFour_colOneDiv" class="col">
                <input type="button" value="Home" class="btn btn-primary" aria-expanded="back button" onclick="location.href='/'">
                <input id="resetButton" class="btn btn-primary" type="reset" value="Reset" aria-expanded="reset button" onclick="this.customTempReset();">
            </div>
        </div>
    </form>
</div>
<!-- Bootstrap Bundle with Popper -->
<script src="/js/main.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>